<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Favorites</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="lightest-bg">
    <ion-card *ngIf="!favorites.length" class="primary-bg" margin-top>
      <ion-card-content>
      	<p text-center class="text-white">You have no favorite hotels.</p>
      </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-item-sliding *ngFor="let favorite of favorites">
            <button ion-item (click)="itemTapped(favorite.hotel)">
                <ion-thumbnail item-left>
                    <img src="{{favorite.hotel.thumb}}"/>
                </ion-thumbnail>
                <h2>{{favorite.hotel.name}}</h2>
                <p>{{favorite.hotel.address}} ∙ {{favorite.hotel.price}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="danger" (click)="deleteItem(favorite)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
